  <head>
    <link href="css/style.css" rel="stylesheet">
  </head>  
  <div class="game-setup">
    <h1>JavaScript: Tic-Tac-Toe</h1>
    <h2>Set up game</h2>

    <p>Choose board size:</p>
    <select class="board-size">
      <option value="3">3x3</option>
      <option value="4">4x4</option>
      <option value="5">5x5</option>
      <option value="6">6x6</option>
      <option value="7">7x7</option>
      <option value="8">8x8</option>
      <option value="9">9x9</option>
      <option value="10">10x10</option>
      <option value="11">11x11</option>
      <option value="12">12x12</option>
      <option value="13">13x13</option>
      <option value="14">14x14</option>
      <option value="15">15x15</option>
      <option value="100">100x100</option>
    </select>

    <p>Choose length in a row:</p>
    <select class="board-count">
      <option value="3">3 in a row</option>
      <option value="4">4 in a row</option>
      <option value="5">5 in a row</option>
      <option value="6">6 in a row</option>
      <option value="7">7 in a row</option>
      <option value="8">8 in a row</option>
      <option value="9">9 in a row</option>
      <option value="10">10 in a row</option>
    </select><br/>

    <p>Choose first to score:</p>
    <select class="board-round">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>



    <button class="build-board">Build Board</button>
  </div>


  <div class="game-play">

    <h1 class="title"></h1>

    <div class="players clearfix">
      <button class="player1">Player 1 (1) <br/> Score: <span>0</span></button>
      <button class="player2">Player 2 (2) <br/> Score: <span>0</span></button>
    </div>

    <div class="msg-container">
      <div id="msg">Let's Play!</div>
    </div>

    <div class="container .clearfix">
      <!-- jQuery will ad divs into this container -->
    </div>

    <button class="reset">Reset Board (R)</button>

  </div>

  <script src="js/jquery.js"></script>
  <script src="js/index.js"></script>
  <script src=""></script>
